.header {
    display: flex;
    padding: 20px 40px 20px 44px;
    &__container {
        width: 100%;
        display: flex;
       justify-content: space-between;
       align-items: center;
        
    
    }
    &__logo {
        display: flex;
        gap: 9px;
        align-items: center;
        cursor: pointer;
    }
    &__logoImg {
        width: 36px;
        height: 36px;
    }
    &__logoTitle {
        font-family: 'Mont';
        font-weight: 900;
        font-size: 25px;
        line-height: 31.95px;
        color: #343C6A;
        ;
    }
    &__settings {
        display: flex;
        justify-content: space-between;
      
    }
    &__settingsTitle {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 28px;
        line-height: 33.89px;
        color: #343C6A;
        margin-left: 63px;
    
    }
    &__settingsList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }
    &__inputSearch {
        display: flex;
        background-color: #F5F7FA;
        border-radius: 40px;
        padding: 15px 25px;
        gap: 15px;
    }
    &__input {
        border: none;
        background-color: #F5F7FA;
        outline: none;
        
    }
    &__settingItem {
        background-color: #F5F7FA;
        padding: 13px;
        border-radius: 50%;
        display: flex;
        align-items: center;

    }
}
